# View Past Test Results

This screen is similar to the View Past Test Results screen for a plant operator.

Refer the following page [view-past-test-results-tests-summary-screen.md](../ui-plant-operator/view-past-test-results-tests-summary-screen.md "mention")

UI for reference:&#x20;

<figure><img src="../../../../.gitbook/assets/image (169).png" alt=""><figcaption><p>View Past Tests</p></figcaption></figure>
