# Test Report

|          | Total number of test cases | Total number of executed test cases | Total number of test cases passed | Total number of test cases failed |
| -------- | -------------------------- | ----------------------------------- | --------------------------------- | --------------------------------- |
| Employee | 188                        | 188                                 | 188                               | 0                                 |
| FSTPO    | 49                         | 49                                  | 49                                | 0                                 |
| Total    | 237                        | 237                                 | 237                               | 0                                 |



[​​![](https://i.creativecommons.org/l/by/4.0/80x15.png)​](http://creativecommons.org/licenses/by/4.0/)_All content on this page by_ [_eGov Foundation_](https://egov.org.in/) _is licensed under a_ [_Creative Commons Attribution 4.0 International License_](http://creativecommons.org/licenses/by/4.0/)_._
